/* Every Node will have this class 'node' so that they get this styling */
.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(148, 145, 145);
  display: inline-block;
}
/* ADDITIONAL CLASSES For Nodes ======== */

/* These are the styling which change colors of wall, start and finish */
.node-wall {
  background-color: rgb(12, 53, 71);
}
.node-finish {
  background-image:url('../../assets/end.svg');
  background-repeat:no-repeat;
  background-size:cover;
}
.node-start {
  background-image:url('../../assets/start.svg');
  background-repeat:no-repeat;
  background-size:cover;
}
.node-weight {
  background-image:url('../../assets/weight.svg');
  background-repeat:no-repeat;
  background-size:cover;
}
/* The styling for animating nodes in the order they are visited */
.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}
/* The styling for animating nodes in the shortest path */
.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
